.planets {
  max-width: 1300px;
  padding: 0 48px;
  width: 100%;
  h2 {
    font-size: 3.75rem;
    font-weight: 700;
    margin: 1rem 0;
  }
}

.planet__table {
  min-height: 800px;
}

.select {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.heading__wrapper {
  display: flex;
  min-height: 150px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .heading__wrapper {
    flex-direction: column;
    min-height: auto;
    align-items: start;
  }
  .planet__table {
    min-height: 0px;
  }
  .planets {
    padding: 0 24px;
    h2 {
      margin: 0;
    }
  }
}
