.planets {
  max-width: 1300px;
  padding: 0 48px;
  width: 100%;
  h1 {
    font-size: 3.75rem;
    font-weight: 700;
    margin: 1rem 0;
    // text-align: center;
  }
}

.planet__table {
  min-height: 762px;
}
