.intro {
  max-width: 1300px;
  padding: 0 48px;
  h1 {
    font-size: 3.75rem;
    font-weight: 700;
    // text-align: center;
  }
  p {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0;
  }
}

@media (max-width: 600px) {
  .intro {
    h1 {
      margin-bottom: 0;
      font-size: 3.5rem;
    }
    p {
      font-size: 1.3rem;

      margin: 0.75rem 0;
    }
  }
}
